__pycache__/
.pytest_cache/
.vscode/
results/
# Virtual environment
.venv/
# Python bytecode
*.pyc
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Data files
data/
.pytest_cache/

hpc_data/phase4_18735304
