__pycache__/
.pytest_cache/
.vscode/
results/
# Virtual environment
.venv/
# Python bytecode
*.pyc
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Data files
data/
.pytest_cache/

.DS_Store

hpc_data/phase4_18735304

hpc_data/phase6_18780164


hpc_data/**/*.jsonl
hpc_data/**/*.jsonl
